<header>
  <nav class="navbar-main">

    <div>
      <label>Logged in as:</label>
    </div>

    <!-- if admin -->
    <a href="createlisting">Create Listing</a>

    <!-- if user -->
    <a href="favourites">Favourites</a>

    <a href="/">Home</a>

    <a href="inbox">Messages</a>

    <a>
      Streethouse Lightwear
    </a>

  </nav>
</header>
