<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/createlisting.css" type="text/css" />

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <title>Create Item Listing</title>
</head>

<body>

  <%- include('partials/_header') %>
  <form class="form-inline" action="/createlisting" method="POST">
    <div class="form-group mb-2">
      <label >Enter Item Information:</label>
      <input class="form-control" type="text" name="name" placeholder="Enter Name" >
      <input class="form-control" type="text" name="description" placeholder="Enter Description" >
      <input class="form-control" type="text" name="price" placeholder="Enter Price" >
      <input class="form-control" type="text" name="photo_url" placeholder="Enter Photo URL" >
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
  </form>
</body>

</html>
