.item-page img {
  max-width: 450px;
}

#first-msg {
  width: 450px;
  height: 200px;
}

.item-grid {
  display: inline-grid;
  grid-template-columns: auto auto;
}

.small-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;

  font-size: 1.2em;
  font-weight: bold;
}

.small-preview img {
  max-width: 200px;
}

.sold-preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  padding: 10px;

  font-size: 1.2em;
  font-weight: bold;

}

.sold-preview img {
  filter: grayscale(100%);
  max-width: 200px;
}

.sold-preview a {
  color: red;
  cursor: not-allowed;
  opacity: 0.5;
  text-decoration: none;
}
